<ProjectConfig>
  <Skip run="False"/>
  <Project name="bmc_popgen_test" location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code"/>
  <DBConfig dbprotocol = "mysql" dbhost="localhost" dbname="bmc_popgen_test" dbusername="root" dbpassword="1234"/>
  <Inputs create="True">
    <GeographicCorrespondence location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\bmc_taz_2000_2states\bmc_geocorr.csv"/>
    <HouseholdSample location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\bmc_taz_2000_2states\hhld_sample.csv"/>
    <GQSample location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\bmc_taz_2000_2states\gq_sample.csv"/>
    <PersonSample location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\bmc_taz_2000_2states\person_sample.csv"/>
    <HouseholdControl location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\household_marginals.csv"/>
    <GQControl location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\groupquarters_marginals.csv"/>
    <PersonControl location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\person_marginals.csv"/>
  </Inputs>
  <Scenario value="1" description="Test Scenario" prepare_data="True" run="True">
  <ControlVariables>
    <Household>
      <Variable name="persons_bmc" order="3" num_categories="5" control="True"/>
      <Variable name="hinc_bmc" order="4" num_categories="4" control="True"/>
      <Variable name="esr_sum_r_bmc" order="5" num_categories="4" control="True"/>
      <Variable name="bldgsz_bmc" order="1" num_categories="3" control="False"/>
      <Variable name="hhldrage_bmc" order="2" num_categories="4" control="False"/>
    </Household>
    <GroupQuarter>
      <Variable name="gq" order="1" num_categories="2" control="True"/>
    </GroupQuarter>
    <Person control="True">
      <Variable name="person_tot_bmc" order="5" num_categories="1" control="True"/>
      <Variable name="esr_bmc" order="4" num_categories="4" control="False"/>
      <Variable name="age_bmc" order="3" num_categories="10" control="False"/>
      <Variable name="sex_bmc" order="2" num_categories="2" control="False"/>
      <Variable name="occcen5_bmc" order="1" num_categories="2" control="False"/>
    </Person>
  </ControlVariables>
  <CorrespondenceMap>
    <Household>
      <ControlVariableMap name="persons_bmc" category="1" marginal_variable="hhperson1"/>
      <ControlVariableMap name="persons_bmc" category="2" marginal_variable="hhperson2"/>
      <ControlVariableMap name="persons_bmc" category="3" marginal_variable="hhperson3"/>
      <ControlVariableMap name="persons_bmc" category="4" marginal_variable="hhperson4"/>
      <ControlVariableMap name="persons_bmc" category="5" marginal_variable="hhperson5"/>
      <ControlVariableMap name="hinc_bmc" category="1" marginal_variable="hhincgroup1"/>
      <ControlVariableMap name="hinc_bmc" category="2" marginal_variable="hhincgroup2"/>
      <ControlVariableMap name="hinc_bmc" category="3" marginal_variable="hhincgroup3"/>
      <ControlVariableMap name="hinc_bmc" category="4" marginal_variable="hhincgroup4"/>
      <ControlVariableMap name="esr_sum_r_bmc" category="1" marginal_variable="wrkrs0"/>
      <ControlVariableMap name="esr_sum_r_bmc" category="2" marginal_variable="wrkrs1"/>
      <ControlVariableMap name="esr_sum_r_bmc" category="3" marginal_variable="wrkrs2"/>
      <ControlVariableMap name="esr_sum_r_bmc" category="4" marginal_variable="wrkrs3"/>
      <ControlVariableMap name="bldgsz_bmc" category="1" marginal_variable="hbldgsz1"/>
      <ControlVariableMap name="bldgsz_bmc" category="2" marginal_variable="hbldgsz2"/>
      <ControlVariableMap name="bldgsz_bmc" category="3" marginal_variable="hbldgsz3"/>
      <ControlVariableMap name="hhldrage_bmc" category="1" marginal_variable="hhldrage1"/>
      <ControlVariableMap name="hhldrage_bmc" category="2" marginal_variable="hhldrage2"/>
      <ControlVariableMap name="hhldrage_bmc" category="3" marginal_variable="hhldrage3"/>
      <ControlVariableMap name="hhldrage_bmc" category="4" marginal_variable="hhldrage4"/>
    </Household>
    <GroupQuarter>
      <ControlVariableMap name="gq" category="1" marginal_variable="igq"/>
      <ControlVariableMap name="gq" category="2" marginal_variable="nigq"/>
    </GroupQuarter>
    <Person>
      <ControlVariableMap name="person_tot_bmc" category="1" marginal_variable="persontotal"/>
      <ControlVariableMap name="esr_bmc" category="1" marginal_variable="employed"/>
      <ControlVariableMap name="esr_bmc" category="2" marginal_variable="notemployed"/>
      <ControlVariableMap name="age_bmc" category="1" marginal_variable="age1"/>
      <ControlVariableMap name="age_bmc" category="2" marginal_variable="age2"/>
      <ControlVariableMap name="age_bmc" category="3" marginal_variable="age3"/>
      <ControlVariableMap name="age_bmc" category="4" marginal_variable="age4"/>
      <ControlVariableMap name="age_bmc" category="5" marginal_variable="age5"/>
      <ControlVariableMap name="age_bmc" category="6" marginal_variable="age6"/>
      <ControlVariableMap name="age_bmc" category="7" marginal_variable="age7"/>
      <ControlVariableMap name="age_bmc" category="8" marginal_variable="age8"/>
      <ControlVariableMap name="age_bmc" category="9" marginal_variable="age9"/>
      <ControlVariableMap name="age_bmc" category="10" marginal_variable="age10"/>
      <ControlVariableMap name="sex_bmc" category="1" marginal_variable="sex1"/>
      <ControlVariableMap name="sex_bmc" category="2" marginal_variable="sex2"/>
      <ControlVariableMap name="occcen5_bmc" category="1" marginal_variable="occcen1"/>
      <ControlVariableMap name="occcen5_bmc" category="2" marginal_variable="occcen2"/>
      <ControlVariableMap name="occcen5_bmc" category="3" marginal_variable="occcen3"/>
      <ControlVariableMap name="occcen5_bmc" category="4" marginal_variable="occcen4"/>
      <ControlVariableMap name="occcen5_bmc" category="5" marginal_variable="occcen5"/>
      <ControlVariableMap name="occcen5_bmc" category="6" marginal_variable="occcen6"/>
      <ControlVariableMap name="occcen5_bmc" category="7" marginal_variable="occcen7"/>
     <ControlVariableMap name="occcen5_bmc" category="8" marginal_variable="occcen8"/>
    </Person>
  </CorrespondenceMap>
  <Parameters>
    <IPFTolerance value="0.0001"/>
    <IPFIterations value="250"/>
    <IPUTolerance value="0.0001"/>
    <IPUIterations value="50"/>
    <SyntheticDrawsTolerance value="0.9999"/>
    <SyntheticDrawsIterations value="25"/>
    <RoundingProcedure name="arithmetic"/>
  </Parameters>
  <AdjustHouseholdMarginals modify="False">
    <HouseholdSize name="hhperson"/>
    <AverageHouseholdSizeLastCategory value="5.8"/>
    <ReferencePersonTotalVariable name="employment"/>
  </AdjustHouseholdMarginals>
  <ModifiedMarginals modify="False">
    <GeoId state="24" county="510" taz="1">
 <Variable name="wrkrs">
   <Category value="1" old_marginal="30" new_marginal="10"/>
   <Category value="2" old_marginal="144" new_marginal="124"/>
   <Category value="3" old_marginal="30" new_marginal="10"/>
   <Category value="4" old_marginal="144" new_marginal="124"/>
 </Variable>
    </GeoId>
  </ModifiedMarginals>
  <SynthesizeGeographies individual_geographies="True" entire_region="True">
    <CountyId state="11" county="1" synthesize_county="False"/>
    <CountyId state="24" county="3" synthesize_county="False"/>
    <CountyId state="24" county="5" synthesize_county="False"/>
    <CountyId state="24" county="13" synthesize_county="False"/>
    <CountyId state="24" county="21" synthesize_county="False"/>
    <CountyId state="24" county="25" synthesize_county="False"/>
    <CountyId state="24" county="27" synthesize_county="False"/>
    <CountyId state="24" county="31" synthesize_county="False"/>
    <CountyId state="24" county="33" synthesize_county="False"/>
    <CountyId state="24" county="510" synthesize_county="False"/>
    <GeoId state="24" county="510" taz="1"/>
    <GeoId state="11" county="1" taz="1900"/>
  </SynthesizeGeographies>
  <Outputs>
    <MultiwayTable location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\sizinc_popgen.dat" table_name="housing_synthetic">
      <Variable name="persons_bmc"/>
      <Variable name="hinc_bmc"/>
    </MultiwayTable>
    <MultiwayTable location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\wkrinc_popgen.dat" table_name="housing_synthetic">
      <Variable name="esr_sum_r_bmc"/>
      <Variable name="hinc_bmc"/>
    </MultiwayTable>
    <MultiwayTable location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\age_popgen.dat" table_name="person_synthetic">
      <Variable name="age_bmc"/>
    </MultiwayTable>
    <MultiwayTable location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\hhldrage_popgen.dat" table_name="housing_synthetic">
      <Variable name="hhldrage_bmc"/>
    </MultiwayTable>
    <MultiwayTable location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\2010\bldgsz_popgen.dat" table_name="housing_synthetic">
      <Variable name="bldgsz_bmc"/>
    </MultiwayTable>

    <SummaryTable location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\model_outputs\summary.dat"/>
    <SyntheticPopulationTables housing_location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\model_outputs\housing_synthetic.dat" person_location="C:\PROJECTS\10248_BMC_PopGen\_Modeling\__v5\PopGen\decoupled_code\model_outputs\person_synthetic.dat"/>
  </Outputs>
  </Scenario>
</ProjectConfig>
